*,
*::after,
*::before{
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16;
    line-height: 19px;
    /* font-family: 'Roboto Condensed', sans-serif;  */
    color: #232222;
}
.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.header__top{
    display:flex;
    justify-content: space-between;
    padding-top: 27px;
}
.logo{
    margin-left: 16px;
}
.phone{
    margin-top: 11px;
    margin-right: 43px;
}
.menu{
    margin-top: 16px;
}

.menu__list{
    display: flex;
}
.menu__item + .menu__item{
margin-left: 30px;
}
.menu__link{
text-transform: uppercase;
font-weight: 500;
color: #001E64;
font-size: 18px;
line-height: 21px;
}
.menu__link:hover{
    border-bottom: 1px solid #001E64;
}
.header__content{
    background-image: url(../images/header-top.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    margin-top: -100px;
    min-height: 100vh;
}
.title{
   color: #001E64;
     font-family: 'Roboto Condensed', sans-serif;  
     font-weight: 700;
     font-size: 72px;
     line-height: 95px;
     max-width: 589px;
     padding-top: 200px;
     padding-left: 112px;
     margin-bottom: 60px;
}
.header-slider{
    max-width: 522px;
    padding-left: 112px;
    padding-top: 57px;
    padding-bottom: 135px;
}
.header-slider__text{
    margin-bottom: 25px;
    font-size: 18px;
    color: #fff;
    line-height: 22px;
}
.slick-next, .slick-prev{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    left: 40px;
}
.slick-next{
    bottom: 0;
}
.slick-prev{
    top: 0;
}
.slick-dots{
    list-style: none;
    position:absolute;
    left: 35px;
    top: 58px;
    bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slick-dots button{
    border: none;
    background-color: transparent;
    padding: 0;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    opacity: 0.5;
    cursor: pointer;
}
.slick-active button{
    opacity: 1;
}
.slick-dots button::before{
    content:'0';
}
.header__content-btn{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color:#fff;
    font-size: 24px;
    line-height: 32px;
    padding: 14px 88px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: rgba(255,255,255,.5);
    margin-left: 112px;
    display: inline-block;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
}
.header__content-box{
    display: flex;
    margin-left: 100%;
    margin-right: 30px;
    font-size: 18px;
    line-height: 21px;
    color:#fff;


}
.header__content-link--active{
    font-weight: 700;   
}
.product{
    padding-top: 100px;
}
.product__inner{
    display: flex;
    justify-content: space-between;
}
.product__name{
width: 510px;
text-align: center;
padding-top: 41px;

}
.product-prev{
    position:absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.product-prev,
.product-next{
border: none;
background-color: transparent;
padding: 0;
}

.product__name-item + .product__name-item{
    margin-top: 30px;
}
.product__content{
    width: 600px;
}
.product__name-item{
    font-family: 'Roboto Condensed', sans-serif;  
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    cursor: pointer;
}
.product__name-item.slick-current{
    font-weight: 700;
    font-size: 36px;
    
    color: #001E64;

}
.product__content-box{
    
}